.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #52796f;
  border-radius: 1.1rem;
  box-shadow: 0 1px 8px rgba(0,0,0,0.25);
}

.title{
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.amount{
  border: 1px solid #cad2c5;
  border-radius: 0.6rem;
  background-color: #354f52;
  padding: 1rem;
  margin-right: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
}
